<div>
  <div class="profile-card p-3 bg-light border border-secondary d-flex flex-column justify-content-between overflow-auto">
    <div>
      <h2>Kochapas Santibut</h2>
      <div class="mt-2" style="width: max-content;">
        <%= render('shared/button-expand', btn_icon: raw('<i class="fas fa-envelope"></i>'), btn_label: 'kochapas@outlook.com') %>
        <%= render('shared/button-expand', btn_icon: raw('<i class="fas fa-map-marker-alt"></i>'), btn_label: 'Tokyo,Japan') %>
        <%= render('shared/button-expand', btn_icon: raw('<i class="fab fa-linkedin-in"></i>'), btn_label: 'kochapas', btn_link: 'https://www.linkedin.com/in/kochapas') %>
        <%= render('shared/button-expand', btn_icon: raw('<i class="fab fa-github"></i>'), btn_label: 'kochapas', btn_link: 'https://github.com/kochapas') %>
      </div>
      <h3 class="mt-2 mb-0">Skills</h3>
      <% skills = ["Ruby", "Ruby on Rails", "C#", "VB.NET", "HTML", "JavaScript", "Stimulus.js", "CSS",
                    "Bootstrap", "SASS", "PostgreSQL", "SQL Server", "Heroku", "Git", "GitHub"] %>
      <p class="h5">
        <% skills.each do |skill| %>
          <span class="badge badge-secondary mt-1">
            <%= skill %>
          </span>
        <% end %>
      </p>
      <h3 class="mt-2 mb-1">About Me</h3>
      <p class="mb-2">I am an experienced programmer originally from Bangkok, Thailand.</p>
      <p class="mb-2">As a developer, I am passionate about using technology to improve people's quality of life. I believe technology has the power to increase safety, reduce repetitive tasks and make our world a better place for everyone.</p>
      <p class="mb-2">Throughout my professional career, I have led projects, resolved team disputes, and collaborated with various members of companies and teams.</p>
      <p class="mb-2">I am seeking an innovative, progressive company that shares my passion for progress and continuous development.</p>
    </div>
  </div>
</div>
