<div class="p-3 mb-3 bg-light border border-secondary d-flex flex-column justify-content-between overflow-auto">
  <div>
    <em><%= project.name %></em>
    <p><%= project.description %></p>
    <p><%= project.team_size %></p>
    <p><%= project.primary_role %></p>
    <p><%= project.secondary_role %></p>
    <p><%= project.project_link %></p>
    <p><%= project.repository_link %></p>
    <p><%= project.youtube_link %></p>
  </div>
</div>
